* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    font-family: 'Raleway';
    font-size: 1.2em;
    color: #333;
    background: #fff;
    
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

h1 {
    font-size: 2em;
    margin: 20px 0;
}

form {
    width: 50%;
    margin: 3rem auto;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: 0.5rem;
    background: #eee;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: 1rem;
    margin: 1rem;
    

}

legend {
    padding: 0.5rem;
    color: navy;
    font-size: 1.3em;

}

label, input, button, select, textarea {
    font-family:  'source serif pro';
}

label {
    text-align: left;
    padding-right: 1rem;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    padding: 0.5rem 1rem;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

button:hover {
    background-color: darkblue;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #fff;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem;
    padding-bottom: 1xrem;
}

.column2 {
    grid-template-columns: 1fr 2fr;
    margin: 0.5rem;
}

input {
    width: 100%;
    margin-bottom: 0.9rem;
}
